* {
    margin: 0;
    padding: 0;
}
body {
    height: 1100px;
}
.fix {
    overflow: hidden;
}
.fright {
    float: right;
}
.fleft {
    float: left;
}
li {
    list-style: none;
}
.wrapper {
    width: 100%;
    background: #F9F9F9;
}
.header {

}
.header-left {
    background: #333;
    width: 16%;
    height: 45px;
}
.header-right {
    background: #fff;
    width: 84%;
    height: 45px;
}

.small-box {
    color: #fff;
    padding: 15px;
    width: 236px;
    height: 130px;
}
.small-box:last-child {
    padding-right: 0px;
}
.small-box .icon {
    font-size: 90px;
    position: absolute;
    right: 40px;
    top: auto;
    bottom: 0px;
    color: rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.small-box .icon:hover {
    font-size: 100px;
}
.small-box-width {
    width: 24.6%;
}
.number {
    font-size: 35px;
    font-weight: bolder;
}
.sidebar {
    background: #333333;
    width: 16%;
    min-height: 1100px;
}



.newsreader {
    background: #fff;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.notices-board {
    height: 300px;
    border: 2px solid #ddd;
    border-radius: 4px;
    border-top-color: #72DB67;
    background: #fff;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 20px;
    padding: 10px;
    font-size: 18px;
}

.notices-board ul li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.notice-body {
    padding: 10px;
    border-radius: 4px;
    background: #0000ff;
}
.notice-date {

}
.birthdays-body {
    padding: 10px;
    border-radius: 4px;
}
.birthdays{
    height: 300px;
    border: 2px solid #ddd;
    border-radius: 4px;
    border-top-color: #FF7700;
    background: #fff;
    margin-top: 20px;
    margin-left:20px;
    padding: 10px;
    font-size: 18px;
}
.birthdays ul li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.calender{
    height: 300px;
    border: 2px solid #ddd;
    border-radius: 4px;
    border-top-color: #00c0ef;
    background: #fff;
    margin-top: 20px;
    margin-left:16px;
    padding: 10px;
    font-size: 18px;
}
.calender ul li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.class{
    height: 300px;
    border: 2px solid #ddd;
    border-radius: 4px;
    border-top-color: #AC84D6;
    background: #fff;
    margin-top: 20px;
    margin-left:40px;
    padding: 10px;
    font-size: 18px;
}
.class ul li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/*============================================= Add Student Form =========================================*/

.students-add {
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
    border-top-color: #72DB67;
    background: #fff;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 20px;
    padding: 10px;
    font-size: 18px;
}
.add-student-personal-info {
    padding: 5px;
    background: #00C0EF;
    color: #fff;
    border-radius: 4px;
}
.add-student-academic-info {
    padding: 5px;
    background: #F39C12;
    color: #fff;
    border-radius: 4px;
}
.add-student-academic-attachment {
    padding: 5px;
    background: #1AA260;
    color: #fff;
    border-radius: 4px;
}
.add-student-gurdian-info {
    padding: 5px;
    background: #72DB67;
    color: #fff;
    border-radius: 4px;
}
.add-student-address-info {
    padding: 5px;
    background: #F4543C;
    color: #fff;
    border-radius: 4px;
}


label {
    color: #00a65a;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

/*=============================================== Student Profile =========================================*/
.short_description_top {
    border: 3px solid #ddd;
    box-shadow: 6px 6px 5px #888;
    background: #F3F4F5;
    padding: 0;
}
.short_description_top table tr:nth-child(odd) {
    background: #fff;
}

.short_description_top img {
    width: 150px;
    height: 150px;
    -webkit-border-radius:500px;
    -moz-border-radius:500px;
    border-radius:500px;
    border: 5px solid #fff;
    margin-left: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #FFCE43;
    padding: 5px;
}
.nav-tabs li {
    border-bottom: 3px solid #00C0EF;
}
.nav-tabs>li.active>a {
    background: #00C0EF;
    color: #fff;
}
.nav-tabs li a:hover {
    border: 1px solid #00C0EF;
}
.inner-background .form-control {
    border-radius: 0;
}

/*================================ Sidebar Navigation  =============================*/



.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
}
.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 5px 0;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
body {
    margin: 0px;
    padding: 0px;
}

/*============================================= Add Marks Page ==============================================*/
.general {
    background: #fff;
    padding: 20px;
    border: 2px solid #ddd;
}







